# Orders

‚úèÔ∏è **Exercise**

Today, we will investigate the **orders**, and their associated **review score**.

üëâ Our goal is to create a DataFrame with the following features:


| feature_name 	| type 	| description 	|
|:---	|:---:	|:---	|
| `order_id` 	| str 	| the id of the order 	|
| `wait_time` 	| float 	| the number of days between order_date and delivered_date 	|
| `expected_wait_time` 	| float 	| the number of days between order_date and estimated_delivery_date 	|
| `delay_vs_expected` 	| float 	| if the actual delivery date is later than the estimated delivery date, returns the number of days between the two dates, otherwise return 0 	|
| `order_status` 	| str 	| the status of the order 	|
| `dim_is_five_star` 	| int 	| 1 if the order received a five-star review, 0 otherwise 	|
| `dim_is_one_star` 	| int 	| 1 if the order received a one_star, 0 otherwise 	|
| `review_score` 	| int 	| from 1 to 5 	|
| `number_of_products` 	| int 	| number of products that the order contains 	|
| `number_of_sellers` 	| int 	| number of sellers involved in the order 	|
| `price` 	| float 	| total price of the order paid by customer 	|
| `freight_value` 	| float 	| value of the freight paid by customer 	|
| `distance_customer_seller` 	| float 	| the distance in km between customer and seller (optional) 	|  
  
‚ö†Ô∏è We also want to filter out "non-delivered" orders, unless explicitly specified, otherwise we cannot compute the potential delays.

‚ùì **Your challenge**: 

- Implement each feature as a separate method within the `Order` class available at `olist/order.py`
- Then, create a method `get_training_data()` that returns the complete DataFrame **without `NaN`s**.

üí° Suggested methodology:
- Use the notebook below to write and test your code step-by-step first
- Then copy the code into `order.py` once you are certain of your code logic
- Focus on the data manipulation logic now, we will analyse the dataset visually in the next challenges

üî• Notebook best practices (must-read) üëá

<details>
    <summary>‚ñ∏ <i>click here</i></summary>

From now on, exploratory notebooks are going to become pretty long, and we strongly advise you to follow these notebook principles:
- Code your logic so that your Notebook can always be ran from top to bottom without crashing (Cell --> Run All)
- Name your variables carefully 
- Use dummy names such as `tmp` or `_` for intermediary steps when you know you won't need them for long
- Clear your code and merge cells when relevant to minimize Notebook size (`Shift-M`)
- Hide your cell output if you don't need to see it anymore (double-click on the red `Out[]:` section to the left of your cell).
- Make heavy use of jupyter nbextention `Collapsible Headings` and `Table of Content` (call a TA if you can't find them)
- Use the following shortcuts 
    - `a` to insert a cell above
    - `b` to insert a cell below
    - `dd` to delete a cell
    - `esc` and `arrows` to move between cells
    - `Shift-Enter` to execute cell and move focus to the next one
    - use `Shift + Tab` when you are between method brackets e.g. `groupby()` to get the docs! Repeat a few times to open it permanently

</details>

In [76]:
# Auto reload imported module every time a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [77]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:
# Import olist data
from olist.data import Olist
olist = Olist()
data = olist.get_data()

In [79]:
# What datasets do we have access to now ? 
data.keys()

dict_keys(['order_reviews', 'product_category_name_translation', 'order_payments', 'sellers', 'products', 'customers', 'order_items', 'geolocation', 'orders'])

In [80]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

assert(orders.shape == (99441, 8))
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

## 1. Code `order.py`

### a) `get_wait_time`
    ‚ùì Return a Dataframe with:
           order_id, wait_time, expected_wait_time, delay_vs_expected, order_status

üéÅ We give you the pseudo-code below üëá for this first method:

> 1. Inspect the `orders` dataframe
2. Filter the dataframe on `delivered orders`
3. Handle `datetime`
    - Take time to understand what python [`datetime`](https://docs.python.org/3/library/datetime.html) objects are
    - and convert dates from "string" type to "pandas.datetime' using [`pandas.to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)
4. Compute `wait_time`
5. Compute `expected_wait_time`
6. Compute `delay_vs_expected`
7. Check the new dataframe 
8. Once you are satisfied with your code, you can carefully copy-paste it from the notebook to to `olist/order.py`

<details>
    <summary>üí°Hint</summary>

For both `wait_time` and `delay_vs_expected`, you need to subtract the relevant dates/timestamps to get the time difference between the `pandas.datetime` objects. Then, you can either use [`datetime.timedelta()`](https://docs.python.org/3/library/datetime.html#timedelta-objects) or [`np.timedelta64()`](https://numpy.org/doc/stable/reference/arrays.datetime.html#datetime-and-timedelta-arithmetic) to find out how many days that subtraction represents!

</details>

In [81]:
# YOUR CODE HERE

delivered_orders = orders.loc[orders['order_status'] == 'delivered'].copy()
# Convert the specified columns to datetime format using pd.to_datetime()
date_columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
delivered_orders[date_columns] = delivered_orders[date_columns].apply(pd.to_datetime, errors='coerce')

# compute wait time in days
delivered_orders['wait_time'] = (delivered_orders['order_delivered_customer_date'] - delivered_orders['order_purchase_timestamp']) / np.timedelta64(1, 'D')

# compute expected wait time in days
delivered_orders['expected_wait_time'] = (delivered_orders['order_estimated_delivery_date'] - delivered_orders['order_purchase_timestamp']) / np.timedelta64(1, 'D')

# compute delay vs expected in days
delivered_orders['delay_vs_expected'] = (delivered_orders['order_delivered_customer_date'] - delivered_orders['order_estimated_delivery_date']) / np.timedelta64(1, 'D')
delivered_orders['delay_vs_expected'] = delivered_orders['delay_vs_expected'].clip(lower=0)
delivered_orders = delivered_orders[['order_id', 'order_status', 'wait_time', 'expected_wait_time', 'delay_vs_expected']]
delivered_orders

,order_id,order_status,wait_time,expected_wait_time,delay_vs_expected
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,8.436574,15.544063,0.0
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,13.782037,19.137766,0.0
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,9.394213,26.639711,0.0
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,13.208750,26.188819,0.0
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,2.873877,12.112049,0.0
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,delivered,8.218009,18.587442,0.0
99437,63943bddc261676b46f01ca7ac2f7bd8,delivered,22.193727,23.459051,0.0
99438,83c1379a015df1e13d02aae0204711ab,delivered,24.859421,30.384225,0.0
99439,11c177c8e97725db2631073c19f07b62,delivered,17.086424,37.105243,0.0
99440,66dea50a8b16d9b4dee7af250b4be1a5,delivered,7.674306,25.126736,0.0

üëÄ Check the dataframe you've just created. <br/> 

üí™ When your code works, commit it to `olist/order.py` <br/>

üß™ Now, test it by running the following cell üëá

In [82]:
# Test your code here
from olist.order import Order
Order().get_wait_time()

,order_id,order_status,wait_time,expected_wait_time,delay_vs_expected
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,8.436574,15.544063,0.0
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,13.782037,19.137766,0.0
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,9.394213,26.639711,0.0
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,13.208750,26.188819,0.0
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,2.873877,12.112049,0.0
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,delivered,8.218009,18.587442,0.0
99437,63943bddc261676b46f01ca7ac2f7bd8,delivered,22.193727,23.459051,0.0
99438,83c1379a015df1e13d02aae0204711ab,delivered,24.859421,30.384225,0.0
99439,11c177c8e97725db2631073c19f07b62,delivered,17.086424,37.105243,0.0
99440,66dea50a8b16d9b4dee7af250b4be1a5,delivered,7.674306,25.126736,0.0

In [83]:
from nbresult import ChallengeResult
test = Order().get_wait_time()
result = ChallengeResult('wait_time', dve_type=test["delay_vs_expected"].dtype, shape=test.shape, dve_min=test["delay_vs_expected"].min(), dve_max=test["delay_vs_expected"].max())
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-orders/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 1 item

test_wait_time.py::TestWaitTime::test_wait_time PASSED                   [100%]

============================== 1 passed in 0.12s ===============================


üíØ You can commit your code:

git add tests/wait_time.pickle

git commit -m 'Completed wait_time step'

git push origin master

### b) `get_review_score`
     ‚ùì Returns a DataFrame with:
        order_id, dim_is_five_star, dim_is_one_star, review_score

dim_is_$N$_star should contain `1` if review_score=$N$ and `0` otherwise 

<details>
    <summary markdown='span'>Hints</summary>

Think about `Series.map()` or `DataFrame.apply()`
    
</details>

üëâ We load the `reviews` for you

In [84]:
reviews = data['order_reviews'].copy()
assert(reviews.shape == (99224,7))
reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [85]:
# YOUR CODE HERE
reviews['dim_is_five_star'] = reviews['review_score'].map(lambda x: 1 if x == 5 else 0)
reviews['dim_is_one_star'] = reviews['review_score'].map(lambda x: 1 if x == 1 else 0)
reviews = reviews[["order_id","dim_is_five_star","dim_is_one_star","review_score"]]
reviews

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

Once again, 

üëÄ Check the dataframe you've just created. <br/> 

üí™ When your code works, commit it to `olist/order.py` <br/>

üß™ Now, test it by running the following cell üëá

In [86]:
# Test your code here
from olist.order import Order
Order().get_review_score()

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

In [87]:
from nbresult import ChallengeResult
result = ChallengeResult('review_score', shape=Order().get_review_score().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-orders/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 1 item

test_review_score.py::TestReviewScore::test_review_score PASSED          [100%]

============================== 1 passed in 0.02s ===============================


üíØ You can commit your code:

git add tests/review_score.pickle

git commit -m 'Completed review_score step'

git push origin master

### c) `get_number_products`:
     ‚ùì Returns a DataFrame with:
        order_id, number_of_products (total number of products per order)

In [88]:
# YOUR CODE HERE
#data.keys()
product = data['order_items'].copy()
product = product[["order_id","order_item_id"]]
num_of_products= product.groupby('order_id')['order_item_id'].nunique().reset_index()
num_of_products.columns = ['order_id', 'number_of_products']
num_of_products

                               order_id  number_of_products
0      00010242fe8c5a6d1ba2dd792cb16214                   1
1      00018f77f2f0320c557190d7a144bdd3                   1
2      000229ec398224ef6ca0657da4fc703e                   1
3      00024acbcdf0a6daa1e931b038114c75                   1
4      00042b26cf59d7ce69dfabb4e55b4fd9                   1
...                                 ...                 ...
98661  fffc94f6ce00a00581880bf54a75a037                   1
98662  fffcd46ef2263f404302a634eb57f7eb                   1
98663  fffce4705a9662cd70adb13d4a31832d                   1
98664  fffe18544ffabc95dfada21779c9644f                   1
98665  fffe41c64501cc87c801fd61db3f6244                   1

[98666 rows x 2 columns]

üß™ Same routine: 
* check your dataframe, 
* commit your code to `olist/order.py`
* and check that it truly works.

In [89]:
from nbresult import ChallengeResult
result = ChallengeResult('number_products', shape=Order().get_number_products().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-orders/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 1 item

test_number_products.py::TestNumberProducts::test_review_score PASSED    [100%]

============================== 1 passed in 0.02s ===============================


üíØ You can commit your code:

git add tests/number_products.pickle

git commit -m 'Completed number_products step'

git push origin master

### d) `get_number_sellers`:
     ‚ùì Returns a DataFrame with:
        order_id, number_of_sellers (total number of unique sellers per order)
        
<details>
    <summary>‚ñ∏ <i>Hint</i></summary>

`pd.Series.nunique()`
</details>

In [90]:
# YOUR CODE HERE
# Load the orders and order_items data
orders = data['orders']
order_items = data['order_items']

# Merge the orders and order_items data on order_id
merged_df = pd.merge(orders, order_items, on='order_id')
# Get the number of unique sellers per order
num_sellers_df = merged_df.groupby('order_id')['seller_id'].nunique().reset_index()
num_sellers_df.columns = ['order_id', 'number_of_sellers']
num_sellers_df

                               order_id  number_of_sellers
0      00010242fe8c5a6d1ba2dd792cb16214                  1
1      00018f77f2f0320c557190d7a144bdd3                  1
2      000229ec398224ef6ca0657da4fc703e                  1
3      00024acbcdf0a6daa1e931b038114c75                  1
4      00042b26cf59d7ce69dfabb4e55b4fd9                  1
...                                 ...                ...
98661  fffc94f6ce00a00581880bf54a75a037                  1
98662  fffcd46ef2263f404302a634eb57f7eb                  1
98663  fffce4705a9662cd70adb13d4a31832d                  1
98664  fffe18544ffabc95dfada21779c9644f                  1
98665  fffe41c64501cc87c801fd61db3f6244                  1

[98666 rows x 2 columns]

In [91]:
from nbresult import ChallengeResult
result = ChallengeResult('number_sellers', shape=Order().get_number_sellers().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-orders/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 1 item

test_number_sellers.py::TestNumberSellers::test_number_seller PASSED     [100%]

============================== 1 passed in 0.02s ===============================


üíØ You can commit your code:

git add tests/number_sellers.pickle

git commit -m 'Completed number_sellers step'

git push origin master

### e) `get_price_and_freight`
     Returns a DataFrame with:
        order_id, price, freight_value

<details>
    <summary>‚ñ∏ <i>Hint</i></summary>

`pd.Series.agg()` allows you to apply one transformation method per column of your groupby object
</details>

In [92]:
# YOUR CODE HERE
order_items = data["order_items"]
# Group the data by order_id and compute the sum of price and freight_value
price_freight_df = order_items.groupby('order_id').agg({'price': 'sum', 'freight_value': 'sum'})

# Reset the index to make order_id a column again
price_freight_df = price_freight_df.reset_index()
price_freight_df

                               order_id   price  freight_value
0      00010242fe8c5a6d1ba2dd792cb16214   58.90          13.29
1      00018f77f2f0320c557190d7a144bdd3  239.90          19.93
2      000229ec398224ef6ca0657da4fc703e  199.00          17.87
3      00024acbcdf0a6daa1e931b038114c75   12.99          12.79
4      00042b26cf59d7ce69dfabb4e55b4fd9  199.90          18.14
...                                 ...     ...            ...
98661  fffc94f6ce00a00581880bf54a75a037  299.99          43.41
98662  fffcd46ef2263f404302a634eb57f7eb  350.00          36.53
98663  fffce4705a9662cd70adb13d4a31832d   99.90          16.95
98664  fffe18544ffabc95dfada21779c9644f   55.99           8.72
98665  fffe41c64501cc87c801fd61db3f6244   43.00          12.79

[98666 rows x 3 columns]

In [93]:
from nbresult import ChallengeResult
result = ChallengeResult('price', shape=Order().get_price_and_freight().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-orders/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 1 item

test_price.py::TestPrice::test_price PASSED                              [100%]

============================== 1 passed in 0.02s ===============================


üíØ You can commit your code:

git add tests/price.pickle

git commit -m 'Completed price step'

git push origin master

### e) [OPTIONAL] `get_distance_seller_customer` 
**(Try  to code this function only after finishing today's challenges - Skip to next section)**

    ‚ùì Returns a Dataframe with:
        order_id, distance_seller_customer (the distance in km between customer and seller)

üí°Have a look at the `haversine_distance` formula we coded for you in the `olist.utils` module

In [94]:
# YOUR CODE HERE

üëÄ Check your new dataframe and commit your code to olist/order.py when it works.

In [95]:
# YOUR CODE HERE

üß™  Test your code

In [96]:
from nbresult import ChallengeResult

result = ChallengeResult('distance',
    mean = Order().get_distance_seller_customer()['distance_seller_customer'].mean())
result.write()
print(result.check())

TypeError: 'NoneType' object is not subscriptable

## 2. All at once: `get_training_data`

‚ùì Time to code `get_training_data` making use of your previous coded methods, to gather all order features in one table

In [ ]:
# YOUR CODE HERE
# Merge dataframes based on order_id
merged_df = pd.merge(delivered_orders, reviews, on='order_id')
merged_df = pd.merge(merged_df, num_sellers_df, on='order_id')
merged_df = pd.merge(merged_df, price_freight_df, on='order_id')
merged_df = pd.merge(merged_df, num_of_products, on='order_id')
# Drop rows with NaN values
merged_df.dropna(inplace=True)
merged_df

,order_id,order_status,wait_time,expected_wait_time,delay_vs_expected,dim_is_five_star,dim_is_one_star,review_score,number_of_sellers,price,freight_value,order_item_id
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,8.436574,15.544063,0.0,0,0,4,1,29.99,8.72,1
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,13.782037,19.137766,0.0,0,0,4,1,118.70,22.76,1
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,9.394213,26.639711,0.0,1,0,5,1,159.90,19.22,1
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,13.208750,26.188819,0.0,1,0,5,1,45.00,27.20,1
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,2.873877,12.112049,0.0,1,0,5,1,19.90,8.72,1
...,...,...,...,...,...,...,...,...,...,...,...,...
96356,9c5dedf39a927c1b2549525ed64a053c,delivered,8.218009,18.587442,0.0,1,0,5,1,72.00,13.08,1
96357,63943bddc261676b46f01ca7ac2f7bd8,delivered,22.193727,23.459051,0.0,0,0,4,1,174.90,20.10,1
96358,83c1379a015df1e13d02aae0204711ab,delivered,24.859421,30.384225,0.0,1,0,5,1,205.99,65.02,1
96359,11c177c8e97725db2631073c19f07b62,delivered,17.086424,37.105243,0.0,0,0,2,1,359.98,81.18,2
96360,66dea50a8b16d9b4dee7af250b4be1a5,delivered,7.674306,25.126736,0.0,1,0,5,1,68.50,18.36,1

üß™  Test it below

In [98]:
from nbresult import ChallengeResult
from olist.order import Order
data = Order().get_training_data()

result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-orders/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_training.py::TestTraining::test_training_data_columns PASSED        [ 50%]
test_training.py::TestTraining::test_training_data_shape PASSED          [100%]

============================== 2 passed in 0.02s ===============================


üíØ You can commit your code:

git add tests/training.pickle

git commit -m 'Completed training step'

git push origin master

üèÅ Congratulations! 

üíæ Commit and push your notebook before starting the next challenge.