# Multiple files with `pandas`

In [36]:
import numpy as np
import pandas as pd
import matplotlib

## Merge Practice

In [37]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [38]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

### Inner Merge Practice

In [39]:
inner_merged_df = pd.merge(a_df, b_df, on='Country', how='inner')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

#### Check your code

In [40]:
from nbresult import ChallengeResult

result = ChallengeResult('inner_merge',
    inner_merged_shape=inner_merged_df.shape,
    inner_merged_nulls=sum(inner_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_inner_merge.py::TestInnerMerge::test_inner_merged_nulls PASSED      [ 50%]
test_inner_merge.py::TestInnerMerge::test_inner_merged_shape PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/inner_merge.pickle

git commit -m 'Completed inner_merge step'

git push origin master

### Left Merge Practice

In [41]:
left_merged_df = pd.merge(a_df, b_df, on='Country', how='left')
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

#### Check your code

In [42]:
from nbresult import ChallengeResult

result = ChallengeResult('left_merge',
    left_merged_shape=left_merged_df.shape,
    left_merged_nulls=sum(left_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_left_merge.py::TestLeftMerge::test_left_merged_df_shape PASSED      [ 50%]
test_left_merge.py::TestLeftMerge::test_left_merged_nulls PASSED         [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/left_merge.pickle

git commit -m 'Completed left_merge step'

git push origin master

### Right Merge Practice

In [43]:
right_merged_df = pd.merge(a_df, b_df, how='right', on='Country')
right_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3   Canada             NaN       NaN  0.926

#### Check your code

In [44]:
from nbresult import ChallengeResult

result = ChallengeResult('right_merge',
    right_merged_shape=right_merged_df.shape,
    right_merged_nulls=sum(right_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_right_merge.py::TestRightMerge::test_right_merged_df_shape PASSED   [ 50%]
test_right_merge.py::TestRightMerge::test_right_merged_nulls PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/right_merge.pickle

git commit -m 'Completed right_merge step'

git push origin master

### Outer Merge Practice

In [45]:
outer_merged_df = pd.merge(a_df, b_df, on='Country', how='outer')
outer_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN
4   Canada             NaN       NaN  0.926

#### Check your code

In [46]:
from nbresult import ChallengeResult

result = ChallengeResult('outer_merge',
    outer_merged_shape=outer_merged_df.shape,
    outer_merged_nulls=sum(outer_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_outer_merge.py::TestOuterMerge::test_outer_merged_df_shape PASSED   [ 50%]
test_outer_merge.py::TestOuterMerge::test_outer_merged_nulls PASSED      [100%]

============================== 2 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/outer_merge.pickle

git commit -m 'Completed outer_merge step'

git push origin master

## Join Practice

In [47]:
aa_df = a_df.set_index("Country")
aa_df

         Population (M)   Capital
Country
Germany            82.8    Berlin
France             67.2     Paris
Belgium            11.4  Brussels
Finland             5.5  Helsinki

In [48]:
bb_df = b_df.set_index("Country")
bb_df

           HDI
Country
Germany  0.936
France   0.901
Belgium  0.916
Canada   0.926

In [49]:
aa_df.join(bb_df)

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Finland             5.5  Helsinki    NaN

## Concat Practice

In [50]:
concat_df = pd.concat([a_df, b_df], axis="index", sort=False)
concat_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin    NaN
1   France            67.2     Paris    NaN
2  Belgium            11.4  Brussels    NaN
3  Finland             5.5  Helsinki    NaN
0  Germany             NaN       NaN  0.936
1   France             NaN       NaN  0.901
2  Belgium             NaN       NaN  0.916
3   Canada             NaN       NaN  0.926

## Olympic Sports and Medals, 1896-2014

In [51]:
# Load countries.csv
countries_df = pd.read_csv('dictionary.csv')

# Load summer.csv and rename columns
summer_df = pd.read_csv('summer.csv')
summer_df = summer_df.rename(columns={'Country': 'Code'})

# Load winter.csv and rename columns
winter_df = pd.read_csv('winter.csv')
winter_df = winter_df.rename(columns={'Country': 'Code'})

### Combining The Data

In [71]:
summer_countries_df = pd.merge(countries_df, summer_df, on='Code', how='inner')
summer_countries_df = summer_countries_df.assign(Season='Summer')

winter_countries_df = pd.merge(countries_df, winter_df, on='Code', how='inner')
winter_countries_df = winter_countries_df.assign(Season='Winter')

merged_df = pd.merge(summer_countries_df, winter_countries_df, on=['Code', 'Season'], how='inner')

common_cols = np.intersect1d(summer_countries_df.columns, winter_countries_df.columns)
all_df = merged_df[common_cols]

KeyError: "['Athlete', 'City', 'Country', 'Discipline', 'Event', 'GDP per Capita', 'Gender', 'Medal', 'Population', 'Sport', 'Year'] not in index"

#### Check your code

In [61]:
from nbresult import ChallengeResult

result = ChallengeResult('all_df',
    all_df_shape=all_df.shape,
    all_df_columns=set(all_df.columns)
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/saikotdasjoy/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/saikotdasjoy/code/Saikot1997/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_all_df.py::TestAllDf::test_all_df_columns FAILED                    [ 50%]
test_all_df.py::TestAllDf::test_all_df_shape FAILED                      [100%]

=================================== FAILURES ===================================
________________________ TestAllDf.test_all_df_columns _________________________

self = <test_all_df.TestAllDf testMethod=test_all_df_columns>

    def test_all_df_columns(self):
        cols = {
            'Athlete', 'City', 'Code', 'Country', 'Discipline', 'Event',
            'GDP per Capita', 'Gender', 'Medal', 'Population', 'Season',
            'Sport', 'Year'
        }
>       self.assertEqual(self.result.all_df_columns, cols)
E       AssertionError: Items in the first set but not the second:
E       'Year_y'
E       'Event_x'
E       'Medal_y'
E       'Athlete_x'
E       'Gender_x'
E       'Discipline_x'
E       'Sport_y'
E       'City_y'
E       'Population_x'
E       'GDP per Capita_y'
E       'Country_x'
E       'Gender_y'
E       'Country_y'
E       'City_x'
E       'Event_y'
E       'Season_x'
E       'Year_x'
E       'Athlete_y'
E       'Medal_x'
E       'GDP per Capita_x'
E       'Discipline_y'
E       'Season_y'
E       'Population_y'
E       'Sport_x'
E       Items in the second set but not the first:
E       'Country'
E       'Discipline'
E       'Event'
E       'City'
E       'Athlete'
E       'Season'
E       'Gender'
E       'Year'
E       'Population'
E       'Medal'
E       'Sport'
E       'GDP per Capita'

test_all_df.py:14: AssertionError
_________________________ TestAllDf.test_all_df_shape __________________________

self = <test_all_df.TestAllDf testMethod=test_all_df_shape>

    def test_all_df_shape(self):
>       self.assertEqual(self.result.all_df_shape, (30568, 13))
E       AssertionError: Tuples differ: (6052571, 25) != (30568, 13)
E
E       First differing element 0:
E       6052571
E       30568
E
E       - (6052571, 25)
E       + (30568, 13)

test_all_df.py:6: AssertionError
=========================== short test summary info ============================
FAILED test_all_df.py::TestAllDf::test_all_df_columns - AssertionError: Items...
FAILED test_all_df.py::TestAllDf::test_all_df_shape - AssertionError: Tuples ...
============================== 2 failed in 0.10s ===============================


ðŸ’¯ You can commit your code:

git add tests/all_df.pickle

git commit -m 'Completed all_df step'

git push origin master